In [20]:
# IMPORT FILES
import pandas as pd

# File Load
df = pd.read_csv("data/covid.csv")
df.head()

,city,county,state,country,cases,deaths,recovered,tested,active,population,lat,long,url,maintainers,rating,tz,featureId,sources,curators
0,NaN,NaN,NaN,THA,599,1.0,44.0,NaN,554,68414135.0,13.040833,101.544556,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",0.414634,"[""Asia/Bangkok""]",0.0,NaN,NaN
1,NaN,NaN,NaN,JPN,1086,40.0,235.0,NaN,811,126451398.0,37.873073,137.659785,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",0.414634,"[""Asia/Tokyo""]",1.0,NaN,NaN
2,NaN,NaN,NaN,SGP,455,2.0,144.0,NaN,309,5888926.0,1.358568,103.804210,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",0.414634,"[""Asia/Singapore""]",2.0,NaN,NaN
3,NaN,NaN,NaN,NPL,2,0.0,1.0,NaN,1,29384297.0,28.383798,84.102726,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",0.414634,"[""Asia/Kathmandu""]",3.0,NaN,NaN
4,NaN,NaN,NaN,MYS,1306,10.0,139.0,NaN,1157,31381992.0,3.930907,109.697195,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",0.414634,"[""Etc/GMT-7""]",4.0,NaN,NaN

In [21]:
df = df.drop(['city', 'county', 'state', 'url', 
              'maintainers', 'rating', 'tz', 'featureId', 'sources', 'curators', 'tested'], axis=1)

In [22]:
df.head()

,country,cases,deaths,recovered,active,population,lat,long
0,THA,599,1.0,44.0,554,68414135.0,13.040833,101.544556
1,JPN,1086,40.0,235.0,811,126451398.0,37.873073,137.659785
2,SGP,455,2.0,144.0,309,5888926.0,1.358568,103.804210
3,NPL,2,0.0,1.0,1,29384297.0,28.383798,84.102726
4,MYS,1306,10.0,139.0,1157,31381992.0,3.930907,109.697195

In [24]:
df.to_csv('cleaned_covid.csv')